
:root{
    --logo-color:#6d5c0e;
    --text-color:#fff;
    --button-color:#8f0521;
    --dark-color:rgb(13, 19, 20);
    --light-color:#3a3a3a;
}

nav{
    height: 70px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    font-family: 'Poppins', sans-serif;
}
nav h3{
    font-family: 'Cookie', cursive;
    color: var(--logo-color);
    font-size: 35px;
    font-weight: 500;
}
nav ul{
    margin-top: 20px;
}
nav ul li{
    display: inline;
    padding-left: 20px;
}
nav ul li a{
    text-decoration: none;
    font-family: 'Poppins', sans-serif;
    font-size: 15px;
    color: var(--dark-color);
    font-weight: 400;
}
nav ul li a.active{
    color: var(--button-color);
}
.authentication button{
    padding: 8px 25px;
    border: none;
    background-color: var(--button-color);
    border-radius: 5px;
}
.authentication button a{
    text-decoration: none;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
}

/*-------------  -------------- -------- home page --------------- --------------  ----------*/
.hero{
    height: 90vh;
    position: relative;
}
.shadow{
    width: 100%;
    height: 100%;
    top: 0;
    position: absolute;
    background-color: rgba(0, 0, 0, 0.664);
    z-index: 1;
}
.carousel-item img{
    height: 100%;
    object-fit: cover;
}
.carousel-caption{
    top: 200px;
    z-index: 1000;
}
.carousel-caption .title{
    font-family: 'Cookie', cursive;
    color: var(--logo-color);
    font-size: 60px;
}
.carousel-caption .sub-title{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-weight: 600;
    letter-spacing: 2px;
    font-size: 13px;
}
.carousel-caption .booking-table{
    background-color: var(--button-color);
    border: none;
    padding: 10px 35px;
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.carousel-indicators{
    position: relative;
    
}
.carousel-indicators button{
    z-index: 1000 !important;
    width: 12px !important;
    height: 12px !important;
    border-radius: 50%;
    margin-left: 15px !important;
    background-color: var(--logo-color) !important;
}

/*  ----------------  -------------------  --------about us page -----------  ------------- ----------------------  ------------*/
.about{
    height: 60vh;
    display: flex;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}
.about-content h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--logo-color);
    font-weight: 600;
}
.about-content h4{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 30px;
    color: var(--dark-color);
    width: 60%;
}
.about-content p{
    width: 70%;
    font-family: 'Poppins', sans-serif;
    color: var(--light-color);
}
.about-images img{
    width: 170px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.877);
}
.about-images img:not(:first-child){
    margin-left: 15px;
}
.about-right img{
    width: 500px;
    height: 400px;
    box-shadow: 0px 0px 5px rgba(0, 0, 0, 0.664);
    border-radius: 5px;
    transition: 1.3s;
}
.about-right img:hover{
    transform: scale(.9);
}
/*  ----------------  -------------------  --------menu page -----------  ------------- ----------------------  ------------*/
.menu{
    height: 70vh;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    position: relative;
}
.menu h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--logo-color);
    font-weight: 600;
}
.menu h4{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 30px;
    color: var(--dark-color);
    width: 30%;
    text-transform: lowercase;
}
.menu_items{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-top: 30px;
}
.menu_items .menu_item{
    width: 300px;
    height: 150px;
    position: relative;
}
.menu_items .menu_item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
}
.menu_items .menu_item h5{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    position: absolute;
    background-color: var(--logo-color);
    width: 100%;
    padding: 10px 10px;
    color: var(--text-color);
}
.menu_items .menu_item span{
    position: absolute;
    top: 0;
    left: 0;
    background-color: var(--button-color);
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    padding: 8px;
    border-bottom-right-radius: 30px;
    font-size: 14px;
    font-weight: 500;
}
.view-menu{
    position: absolute;
    left: 45%;
    background-color: var(--button-color);
    bottom: 0px;
    border: none;
    color: var(--text-color);
    padding: 10px 35px;
    font-family: 'Poppins', sans-serif;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.664);
}

/* -------------  -------------  -------------- our chef page  -------------  -------------  -----------------*/

.Chef{
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
}
.Chef h3{
    font-family: 'Poppins', sans-serif;
    font-size: 24px;
    color: var(--logo-color);
    font-weight: 600;
}
.Chef h4{
    font-family: 'Poppins', sans-serif;
    font-weight:700;
    font-size: 30px;
    color: var(--dark-color);
    width: 30%;
    text-transform: lowercase;
}

.chefs{
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
}

.chefs .chef{
    width: 300px;
    height: 400px;
    margin: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: var(--logo-color);
    padding-bottom: 10px;
}
.chefs .chef img{
    width: 300px;
    height: 350px;
    object-fit: cover;
}
.chefs .chef h5{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    font-size: 17px;
    padding-top: 5px;
}
.chefs .chef span{
    color: var(--light-color);
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
    margin-top: -6px;
    font-weight: 600;
}

/* ------------------ -----------------  ------- footer page ---------  ------------ ------------  ---------------*/
.footer{
    height: 80px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 100px;
    background-color: var(--dark-color);
}
.footer-icon i{
    font-size: 22px;
    color: var(--button-color);
}
.footer-icon i:not(:first-child){
    padding-left: 10px;
}
.footer-logo h3{
    font-family: 'Cookie', cursive;
    color: var(--logo-color);
    font-size: 37px;
}
.footer-copyright p{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
}
.footer-copyright h6{
    color: var(--text-color);
    font-family: 'Poppins', sans-serif;
    margin-top: -13px;
    font-weight: 300;
}

/* ------------------ -----------------  ------- book a table page ---------  ------------ ------------  ---------------*/
.book_a_table{
    width: 100%;
    height: 300px;
    background-repeat: no-repeat;
    background-size: cover;
    background-image: radial-gradient(rgba(109, 91, 14, 0.664),rgba(108, 91, 14, 0.635)), url('https://images.unsplash.com/photo-1615937722923-67f6deaf2cc9?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=870&q=80');
    margin-top: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.book_ads{
    width: 400px;
    text-align: center;
}
.book_ads h3{
    font-family: 'Cookie', cursive;
    color: var(--logo-color);
}
.book_ads h4{
    font-family: 'Poppins', sans-serif;
    font-size: 25px;
}
.book_ads p{
    font-family: 'Poppins', sans-serif;
    font-size: 14px;
}
.book_ads button{
    background-color: var(--button-color);
    padding: 8px 35px;
    border: none;
    color: var(--text-color);
    font-size: 16px;
    box-shadow: 5px 6px 5px rgba(0, 0, 0, 0.664);
}